<phpunit backupGlobals="true"
        backupStaticAttributes="false"
        colors="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        mapTestClassNameToCoveredClassName="false"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        syntaxCheck="false"
        testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
        verbose="false">
    <testsuites>
        <testsuite name="Bijective Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory>./tests</directory>
        </blacklist>
    </filter>
</phpunit>
